.band-description {
    margin: 0 auto;
    text-align: center;
    color: black;
}

.band-description h1 {
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 20px;
}

.band-description h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    color: #6E6E6E;
    margin-bottom: 20px;
}

.band-description p {
    padding: 0 350px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 60px;
}

.band-members ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
}

.band-members li h1 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.band-members li img {
    border-radius: 4px;
}

@media (max-width: 1100px) {
    .band-description p {
        padding: 0 200px;
        line-height: 1.5;
        text-align: justify;
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .band-description p {
        padding: 0 100px;
    }
    .band-members ul {
        gap: 60px;
    }
}

@media (max-width: 430px) {
    .band-description p {
        padding: 0 50px;
    }
    .band-members ul {
        gap: 30px;
    }
}