.contact {
    text-align: center;
}

.contact h1 {
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 20px;
}

.contact h2 {
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    color: #6E6E6E;
    margin-bottom: 60px;
}

.contact-dados {
    max-width: 785px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.contact-endress {
    display: flex;
    flex-wrap: wrap;
}

.contact-endress img {
    margin-bottom: 6px;
}

.contact-endress p {
    font-size: 18px;
    margin: 0px 0px 8px 12px;
}

.contact-form .name {
    width: calc(50% - 15px); 
    margin: 0px 15px 10px 0;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.contact-form .email {
    width: calc(50% - 4px); 
    margin: 0px 0px 10px 0;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.contact-form .message {
    width: 100%;
    margin: 0px 10px 10px 0;
    padding: 10px;
    border: 1px solid #CCCCCC;
}

.contact-form button {
    font-size: 14px;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 330px;
}

.contact-form button:hover {
    background-color: #CCCCCC;
    color: #000000;
}

@media (max-width: 800px) {
    .contact-dados {
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .contact-endress {
        margin-bottom: 40px;
    }
    .contact-form .name, .contact-form .email {
        width: 32%; 
    }
    .contact-form .message {
        width: 67%;
    }
    .contact-form button {
        margin: 10px auto;
    }
}