.footer-bg {
    background-color: #000000;
}

.footer {
    padding: 80px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-bg p {
    text-align: center;
    padding-bottom: 80px;
    color: #6E6E6E;
}

.footer-bg span {
    color: #6E6E6E;
    text-decoration: underline;
}

.footer-bg span:hover {
    color: #ffffff;
}