body, h1, h2, p, a, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}