.home {
    margin: 0 auto;
    text-align: center;
}

.home h1, .home p {
    color: #ffffff;
    position: relative;
    top: -120px;
}

.home h1 {
    font-weight: 400;
    margin-bottom: 20px;
}

.home p {
    font-weight: bold;
}

@media (max-width: 800px) {
    .home h1, .home p {
        font-size: 12px;
        position: relative;
        top: -80px;
        margin-bottom: 10px;
    }
}

@media (max-width: 430px) {
    .home h1, .home p {
        font-size: 10px;
        top: -40px;
        margin-bottom: 6px;
    }
}