.menu-bg {
    background-color: #000000;
    position: fixed;
    width: 100%;
}

.menu {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    color: #ffffff;
    text-transform: uppercase;
    padding: 15px 30px;
}

.menu-search {
    padding: 15px 25px;
}

.menu-nav a:hover {
    background-color: #CCCCCC;
    color: #000000;
}

.menu-search:hover {
    background-color: #F44336;
    cursor: pointer;
}

@media (max-width: 800px) {
    .menu-nav a {
        padding: 10px 20px;
    }
    .menu-search {
        padding: 10px 15px;
    }
}

@media (max-width: 430px) {
    .menu-nav a {
        font-size: 12px;
        padding: 10px 20px;
    }
    .menu-search {
        display: none;
    }
}